{% extends "@!HWIOAuth/Connect/registration.html.twig" %}

{% block hwi_oauth_content %}
    <section >
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="flex items-start mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                <img class="w-8 h-8 mr-2 rounded-full" src="{{ userInformation.profilePicture }}" alt="logo">
                Hi {{ userInformation.firstName }}
            </div>
            <div class="w-full bg-zu-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-zu-light-black dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Create an account
                    </h1>
                    {{ form_start(form, {'action': path('hwi_oauth_connect_registration', {'key': key}), 'attr': {'class': 'w-full'} }) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
