{# Learn how to use Turbo Streams: https://github.com/symfony/ux-turbo#broadcast-doctrine-entities-update #}
{% extends 'base.html.twig' %}
{% block create %}
    <turbo-stream action="append" target="games_today">
        <template>
{#            {% set gamesOnDay = games|filter(game => game.createdAt|date('Y-m-d') == dayDate) %}#}
{#            {% if gamesOnDay|length %}#}
{#                {% for game in gamesOnDay %}#}
{#                    {{ include('dashboard/calendar/_calendar_day_item.html.twig') }}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                <div class="{{ dayClass ~ ' bg-zu-white dark:bg-zu-light-black text-white w-full' }}"></div>#}
{#            {% endif %}#}
            {{ include('dashboard/calendar/_calendar_day_item.html.twig', { game: entity }) }}
        </template>
    </turbo-stream>
{% endblock %}

{% block update %}
{% endblock %}

{% block replace %}
    <turbo-stream action="replace" target="game_{{ id }}">
        <template>
            #{{ id }} replaced
        </template>
    </turbo-stream>
{% endblock %}

{% block remove %}
    <turbo-stream action="remove" target="calendar_game_{{ id }}"></turbo-stream>
{% endblock %}
