<div
    class="p-4 bg-zu-white border zu-light-gray rounded-lg shadow-sm dark:border-zu-light-black sm:p-6 dark:bg-zu-light-black">
    <h3 class="flex items-center mb-4 text-lg font-semibold text-gray-900 dark:text-white">{{ this.title }}</h3>
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select tab</label>
        <select id="tabs"
                class="bg-gray-50 border-0 border-b zu-light-gray text-gray-900 text-sm rounded-t-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option>Games</option>
            <option>Players</option>
        </select>
    </div>
    <ul class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400"
        id="fullWidthTab" data-tabs-toggle="#fullWidthTabContent" role="tablist"
        data-tabs-active-classes="text-zu-red hover:text-zu-red"
        data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-zu-light-black dark:hover:text-gray-300"
    >
        <li class="w-full">
            <button id="teams-tab" data-tabs-target="#teams" type="button" role="tab" aria-controls="teams"
                    aria-selected="true"
                    data-tabs-active-classes="text-zu-red"
                    class="inline-block w-full p-4 rounded-tl-lg bg-zu-white hover:bg-gray-100 focus:outline-none dark:bg-zu-light-black dark:hover:bg-gray-600">
                Teams
            </button>
        </li>
        <li class="w-full">
            <button id="players-tab" data-tabs-target="#players" type="button" role="tab" aria-controls="players"
                    aria-selected="false"
                    data-tabs-active-classes="text-zu-red"
                    class="inline-block w-full p-4 rounded-tr-lg bg-zu-white hover:bg-gray-100 focus:outline-none dark:bg-zu-light-black dark:hover:bg-gray-600">
                Players
            </button>
        </li>
    </ul>
    <div id="fullWidthTabContent" class="border-t zu-light-gray dark:border-gray-600">
        <div class="hidden pt-4" id="teams" role="tabpanel" aria-labelledby="teams-tab">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    {% for team in this.teamStats %}
                        {% set logoPath = '/images/zu_logo_circle.png' %}
                        {% if team.team.name == 'The Standard' %}
                            {% set logoPath = '/images/teams/the_standard.jpg' %}
                        {% elseif team.team.name == 'M.S Paint 2.0' %}
                            {% set logoPath = '/images/teams/ms_paint.png' %}
                        {% elseif team.team.name == 'Zu-Rassic Park' %}
                            {% set logoPath = '/images/teams/zu_rassic_park.png' %}
                        {% elseif team.team.name == 'Karen’s favourites + Brian O' %}
                            {% set logoPath = '/images/karens_fav_plus_brian_o.png' %}
                        {% endif %}
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center min-w-0">
                                    <img class="flex-shrink-0 w-10 h-10 rounded" src="{{ asset(logoPath) }}"
                                         alt="imac image">
                                    <div class="ml-3">
                                        <p class="font-medium text-gray-900 truncate dark:text-white">
                                            {{ team.team.name }}
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                    {{ team.gamesWon }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <div class="hidden pt-4" id="players" role="tabpanel" aria-labelledby="players-tab">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                {% for user in this.playerStats %}
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center min-w-0">
                                    <p class="font-medium text-gray-900 truncate dark:text-white">
                                        {{ user.user.firstName }} {{ user.user.lastName }}
                                    </p>
                            </div>
                            <div
                                class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{ user.gamesWon }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
