{% extends 'base.html.twig' %}

{% block title %}Zudle Stats{% endblock %}

{% block body %}
    <div class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-zu-white dark:bg-zu-black">
        <div class="px-4 pt-6 2xl:px-0">
            <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
                <!-- Main widget -->
                <twig:StatsChart />
                <!--Tabs widget -->
                <twig:TabsWidget />
            </div>
            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">
                <div
                    class="items-center justify-between p-4 bg-zu-white border zu-light-gray rounded-lg shadow-sm sm:flex dark:border-zu-light-black sm:p-6 dark:bg-zu-light-black">
                    <div class="w-full">
                        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Games</h3>
                        <span
                            id="games_played"
                            class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">{{ totalGames }}</span>
                            <p class="flex items-center text-base font-normal text-gray-500 dark:text-gray-400">
                                <span class="flex items-center mr-1.5 text-sm text-green-500 dark:text-green-400">
                                  <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                       aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd"
                                          d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"></path>
                                  </svg>
                                  {{ gamesTrend }}%
                                </span>
                                Since last month
                            </p>
                    </div>
                    <div class="w-full" id="new-products-chart"></div>
                </div>
                <div
                    class="items-center justify-between p-4 bg-zu-white border zu-light-gray rounded-lg shadow-sm sm:flex dark:border-zu-light-black sm:p-6 dark:bg-zu-light-black">
                    <div class="w-full">
                        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Guesses</h3>
                        <span
                            class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">{{ totalGuesses }}</span>
                        <p class="flex items-center text-base font-normal text-gray-500 dark:text-gray-400">
                            <span class="flex items-center mr-1.5 text-sm text-green-500 dark:text-green-400">
                              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                   aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd"
                                      d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"></path>
                              </svg>
                              {{ guessTrend }}%
                            </span>
                            Since last month
                        </p>
                    </div>
                    <div class="w-full" id="week-signups-chart"></div>
                </div>
                <div
                    class="p-4 bg-zu-white border zu-light-gray rounded-lg shadow-sm dark:border-zu-light-black sm:p-6 dark:bg-zu-light-black">
                    <div class="w-full">
                        <h3 class="mb-2 text-base font-normal text-gray-500 dark:text-gray-400">Games Completed by Guess Count (%)</h3>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">5</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.5 }}%"></div>
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">4</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.4 }}%"></div>
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">3</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.3 }}%"></div>
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">2</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.2 }}%"></div>
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">1</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.1 }}%"></div>
                            </div>
                        </div>
                    </div>
                    <div id="traffic-channels-chart" class="w-full"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
