{% extends 'base.html.twig' %}

{% block title %}Zudle Stats{% endblock %}

{% block body %}
    {#    {{ render_chart(chart) }} #}

    {# You can pass HTML attributes as a second argument to add them on the <canvas> tag #}
    {#    {{ render_chart(chart, {'class': 'my-chart'}) }} #}
    <div class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-zu-white dark:bg-zu-black">
        <div class="px-4 pt-6 2xl:px-0">
            <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
                <!-- Main widget -->
                <twig:StatsChart />
{#                <div#}
{#                    class="p-4 bg-zu-white border border-zu-lighter-gray rounded-lg shadow-sm 2xl:col-span-2 dark:border-zu-light-black sm:p-6 dark:bg-zu-light-black">#}
{#                    <div class="flex items-center justify-between mb-4">#}
{#                        <div class="flex-shrink-0">#}
{#                            <span class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">$45,385</span>#}
{#                            <h3 class="text-base font-light text-gray-500 dark:text-gray-400">Sales this week</h3>#}
{#                        </div>#}
{#                        <div#}
{#                            class="flex items-center justify-end flex-1 text-base font-medium text-green-500 dark:text-green-400">#}
{#                            12.5%#}
{#                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"#}
{#                                 xmlns="http://www.w3.org/2000/svg">#}
{#                                <path fill-rule="evenodd"#}
{#                                      d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"#}
{#                                      clip-rule="evenodd"></path>#}
{#                            </svg>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div id="main-chart">#}
{#                        {{ render_chart(chart) }}#}
{#                    </div>#}
{#                    <!-- Card Footer -->#}
{#                    <div#}
{#                        class="flex items-center justify-between pt-3 mt-4 border-t zu-light-gray sm:pt-6 dark:border-zu-light-black">#}
{#                        <div>#}
{#                            <button#}
{#                                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"#}
{#                                type="button" data-dropdown-toggle="weekly-sales-dropdown">Last 7 days#}
{#                                <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"#}
{#                                     xmlns="http://www.w3.org/2000/svg">#}
{#                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
{#                                          d="M19 9l-7 7-7-7"></path>#}
{#                                </svg>#}
{#                            </button>#}
{#                            <!-- Dropdown menu -->#}
{#                            <div#}
{#                                class="hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"#}
{#                                id="weekly-sales-dropdown">#}
{#                                <div class="px-4 py-3" role="none">#}
{#                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white" role="none">#}
{#                                        Sep 16, 2021 - Sep 22, 2021#}
{#                                    </p>#}
{#                                </div>#}
{#                                <ul class="py-1" role="none">#}
{#                                    <li>#}
{#                                        <a href="#"#}
{#                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"#}
{#                                           role="menuitem">Yesterday</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#"#}
{#                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"#}
{#                                           role="menuitem">Today</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#"#}
{#                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"#}
{#                                           role="menuitem">Last 7 days</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#"#}
{#                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"#}
{#                                           role="menuitem">Last 30 days</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#"#}
{#                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"#}
{#                                           role="menuitem">Last 90 days</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                                <div class="py-1" role="none">#}
{#                                    <a href="#"#}
{#                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"#}
{#                                       role="menuitem">Custom...</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <!--Tabs widget -->
                <twig:TabsWidget />
            </div>
            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">
                <div
                    class="items-center justify-between p-4 bg-zu-white border zu-light-gray rounded-lg shadow-sm sm:flex dark:border-zu-light-black sm:p-6 dark:bg-zu-light-black">
                    <div class="w-full">
                        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Games</h3>
                        <span
                            id="games_played"
                            class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">{{ totalGames }}</span>
                            <p class="flex items-center text-base font-normal text-gray-500 dark:text-gray-400">
                                <span class="flex items-center mr-1.5 text-sm text-green-500 dark:text-green-400">
                                  <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                       aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd"
                                          d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"></path>
                                  </svg>
                                  {{ gamesTrend }}%
                                </span>
                                Since last month
                            </p>
                    </div>
                    <div class="w-full" id="new-products-chart"></div>
                </div>
                <div
                    class="items-center justify-between p-4 bg-zu-white border zu-light-gray rounded-lg shadow-sm sm:flex dark:border-zu-light-black sm:p-6 dark:bg-zu-light-black">
                    <div class="w-full">
                        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Guesses</h3>
                        <span
                            class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">{{ totalGuesses }}</span>
                        <p class="flex items-center text-base font-normal text-gray-500 dark:text-gray-400">
                            <span class="flex items-center mr-1.5 text-sm text-green-500 dark:text-green-400">
                              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                   aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd"
                                      d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"></path>
                              </svg>
                              {{ guessTrend }}%
                            </span>
                            Since last month
                        </p>
                    </div>
                    <div class="w-full" id="week-signups-chart"></div>
                </div>
                <div
                    class="p-4 bg-zu-white border zu-light-gray rounded-lg shadow-sm dark:border-zu-light-black sm:p-6 dark:bg-zu-light-black">
                    <div class="w-full">
                        <h3 class="mb-2 text-base font-normal text-gray-500 dark:text-gray-400">Games Completed by Guess Count (%)</h3>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">5</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.5 }}%"></div>
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">4</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.4 }}%"></div>
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">3</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.3 }}%"></div>
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">2</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.2 }}%"></div>
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="w-16 text-sm font-medium dark:text-white">1</div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-zu-red h-2.5 rounded-full dark:bg-zu-red"
                                     style="width: {{ gamesCompletedWithGuesses.1 }}%"></div>
                            </div>
                        </div>
                    </div>
                    <div id="traffic-channels-chart" class="w-full"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
